
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    background-color: white;
    border: black solid 2px;
    height: 640px;
    width: 640px;
    display: grid;
}

.pixel {
    border: black solid 1px;
}